.wp-block {
	max-width: 1000px;
}

.wp-block[data-align="wide"] {
	max-width: 1080px;
}

.wp-block[data-align="full"] {
	max-width: none;
}

.text-secondary {
	color: #a3403b;
}

.text-uppercase {
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6,
.wp-block-button {
	font-family: sans-serif;
}

.wp-block-button__link {
	text-transform: uppercase;
	font-weight: 700;
}
