.products-list {
	font-size: 1rem;
	line-height: 1.2;

	.product-logo {
		position: relative;
		height: 100px;
		width: 80%;
		max-width: 150px;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			max-height: 100%;
		}
	}

	.product-name {
		max-width: 150px;
	}
}

.slider-wrapper {
	position: relative;
	overflow: hidden;
	height: 66.6667vw;

	@include media-breakpoint-up(lg) {
		height: 50vw;
	}

	@include media-breakpoint-up(xl) {
		width: calc(100% - 30px);
		height: auto;
	}

	[data-action="stop"] {
		display: none;
	}

	.tns-outer {
		@include media-breakpoint-up(md) {
			padding-bottom: 100% !important;
		}
	}
}

.slider {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	.tns-item {
		height: 100%;
	}

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
