$primary: #276481;
$secondary: #a3403b;
$input-btn-padding-x-lg: 1.75rem;
$enable-rounded: false;
$font-family-base: 'Slabo 27px', serif;
$headings-font-family: 'Oswald', sans-serif;
$headings-font-weight: 700;
$gray-900: #111;
$dark: $gray-900;
$border-radius: 0;
$theme-colors: map-merge((
	"white": #fff
), ());
