.screen-reader-text {
	@include sr-only();
}

.btn {
	font-family: $headings-font-family;
	font-weight: 700;
	text-transform: uppercase;
	// font-size: 1.25rem;
	// min-width: 200/16 * 1rem;
}

.btn-white {
	background-color: #fff;
	color: $body-color;
}

.text-underline {
	text-decoration: underline !important;
}

.overflow-hidden {
	overflow: hidden !important;
}