.site-footer {
	position: relative;
	z-index: 9;

	.logo {
		display: block;
		height: 125px;
		margin: 0 auto 1rem;

		@include media-breakpoint-up(md) {
			height: 150px;
		}
	}
	
	a {
		color: inherit;
	}

	.address-hours {
		max-width: 30em;

		@include media-breakpoint-up(md) {
			font-size: 1.25rem;
		}

		h2,
		h3 {
			font-size: 1.25em;
		}
	}

	.map {
		height: 400px;
		margin: 0 $grid-gutter-width/2 * -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}