.navbar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: $zindex-fixed;
	color: #fff;
	padding: 0;
}

.site-branding {
	position: absolute;
	top: 1rem;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;

	img {
		height: 125px;

		@include media-breakpoint-up(md) {
			height: 150px;
		}
	}
}

.navbar-collapse {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(black,0.9);
	overflow: auto;
	transition: visibility 300ms, opacity 300ms;
	
	@include media-breakpoint-up(md) {
		position: static;
		flex-basis: auto;
		background: transparent;
		opacity: 1 !important;
		visibility: visible !important;
		transition: none;
		overflow: visible;
	}

	&.collapsed {
		opacity: 0;
		visibility: hidden;

		.navbar-nav,
		.navbar-address {
			transform: translateY(30px);
		}
	}
}

.navbar-nav {
	text-transform: uppercase;
	font-size: 8vw;
	margin: 100px 0 0;
	transition: transform 600ms;

	@include media-breakpoint-up(md) {
		margin: 1rem 0 0 -50px;
		font-size: 20/16 * 1rem;
		transition: none;
	}

	&:after {
		content: '';
		display: block;
		border-bottom: 1px solid #fff;
		width: 50px;
		margin: 30px auto 40px;

		@include media-breakpoint-up(md) {
			content: none;
		}
	}

	a {
		display: block;
		padding: 0.25rem 0;
		color: inherit;

		@include media-breakpoint-up(md) {
			padding: 0.75rem 1rem;
			margin: 0 0.25rem;
		}

		@include media-breakpoint-up(lg) {
			padding: 0.75rem 2rem;
		}
	}

	.menu-item-crew {
		@include media-breakpoint-up(md) {
			margin-left: 120px;
		}
	}
}

.navbar-address {
	font-size: 5vw;
	transition: transform 600ms;
	
	a {
		color: #fff;
	}
}

.menu-toggle {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width: 80px;
	height: 70px;
	border: none;
	background: transparent;
	padding: 0;
	cursor: pointer;

	&.collapsed {
		position: absolute;
	}
}

.hamburger {
	position: relative;
	display: block;
	font-size: 10/16 * 1rem;
	width: 3em;
	height: 2.1em;
	margin: 0 auto;
	transition: all 300ms;
	transform: rotateZ(180deg);

	.collapsed & {
		transform: rotateZ(0);
	}

	span {
		position: absolute;
		right: 0;
		left: 0;
		display: block;
		height: 0.3em;
		background-color: #fff;
		transition: opacity 300ms, transform 300ms;

		&:nth-of-type(1) {
			top: 0;
			transform: rotateZ(45deg) translateX(0.6em) translateY(0.6em);

			.collapsed & {
				transform: rotateZ(0) translateX(0) translateY(0);
			}
		}

		&:nth-of-type(2) {
			top: calc(50% - 0.15em);
			opacity: 0;
			transform: rotateZ(45deg) translateX(0) translateY(0);

			.collapsed & {
				opacity: 1;
				transform: rotateZ(0) translateX(0) translateY(0);
			}
		}

		&:nth-of-type(3) {
			bottom: 0;
			transform: rotateZ(-45deg) translateX(0.7em) translateY(-0.6em);

			.collapsed & {
				transform: rotateZ(0) translateX(0) translateY(0);
			}
		}
	}
}