.page-services {
	.page-content {
		@include media-breakpoint-up(md) {
			font-size: 2rem;
		}

		.container-fluid {
			max-width: 800px;
		}

		li {
			margin-bottom: 0.25em;
		}

		.small {
			@include media-breakpoint-up(md) {
				font-size: 1rem;
			}
		}
	}
}